*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}
header h1{
    
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
#section1{
width: 300px;
height: 300px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;

}
#section1 div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid red;
   font-weight: bold;
}
.select{
    background-color: blue;
}